#profile_page {
  margin: 50px 0;
  color: #222222;
}
#profile_page .container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#profile_page .user_name,
#profile_page .user_settings_btn {
  margin-top: 15vh;
}
#profile_page .user_name .h3,
#profile_page .user_settings_btn .h3 {
  margin: 0;
  color: #78ae62;
  text-shadow: 1px 1px 5px lightgray;
}
@media screen and (max-width: 630px) {
  #profile_page .user_name,
  #profile_page .user_settings_btn {
    margin-top: 10vh;
  }
}
@media screen and (max-width: 500px) {
  #profile_page .user_name,
  #profile_page .user_settings_btn {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 370px) {
  #profile_page .user_name,
  #profile_page .user_settings_btn {
    margin-top: 2vh;
  }
}
